@import '../styles/functions';
@import "../styles/vars";

$accent: alpha(--color-accent);
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width: 1600px) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &Container {
    background-color: $bg-dark;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
  }
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  &Item {
    font-size: 1.3rem;
  }

  &Link {
    position: relative;
    display: grid;
    cursor: default;
    grid-template-columns: 1fr auto;
    grid-column-gap: 7px;
    padding: 1rem 1rem;
    align-items: center;
    border-bottom: 3px solid transparent;
    transition: $trans;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;

      & .text {
        display: none;
      }
    }

    &.active {
      border-bottom: 3px solid $accent;

      & .icon {
        color: $accent;
      }
      & .count {
        color: $text-color-secondary;
      }
    }

    &:hover {
      & .count {
        color: $text-color-secondary;
      }
      cursor: pointer;
    }

    &:not(.active):hover {

      & .icon {
        color: $accent;
      }

      & .text {
        border-bottom: 1px solid $accent;
      }
    }
  }
}

.link {
  text-decoration: none;
  color: $text-color;
}

.icon {
  color: $text-color;
  font-size: 1.8rem;
  transition: all .3s ease;
}

.text {
  border-bottom: 1px solid transparent;
  transition: $trans;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.count {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 12px;
  top: 19px;
  width: 36px;
  color: $bg-light;
  font-weight: bold;
  font-size: .9rem;
  text-shadow: 0 0 1px $accent;
  transition: $trans;
}

.animate {
  animation: shake 10s infinite;
}

@keyframes shake {
  0% {
    transform: none;
  }
  8% {
    transform: none;
  }
  10% {
    transform: skewX(15deg) translateX(-3px);
  }
  12% {
    transform: skewX(-15deg) translateX(3px);
  }
  14% {
    transform: skewX(5deg) translateX(-1px);
  }
  16% {
    transform: skewX(-5deg) translateX(1px);
  }
  18% {
    transform: none;
  }
}
