@import "../styles/vars";

.theme {
  position: fixed;
  left: -85px;
  bottom: 50%;
  height: 30px;
  border: 1px solid rgba(#000, .5);
  box-shadow: 0 0 3px 0 $text-color;
  background-color: $bg-med;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 15px 10px 40px;
  z-index: 10;
  cursor: pointer;
  transition: $trans;

  &.open {
    left: -25px
  }
}

.icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.animate {
  animation: light 10s infinite;
}

@keyframes light {
  0% {
    box-shadow: 0 0 3px 0 $text-color;
  }
  45% {
    box-shadow: 0 0 3px 0 $text-color;
  }
  50% {
    box-shadow: 0 0 8px 1px $text-color;
  }
  60% {
    box-shadow: 0 0 3px 0 $text-color;
  }
  100% {
    box-shadow: 0 0 3px 0 $text-color;
  }
}
