@import "../styles/vars";

.swapper {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  right: -95px;
  top: 65px;
  border: 1px solid rgba(#000, .5);
  box-shadow: 0 0 3px 0 $text-color;
  background-color: $bg-dark;
  border-radius: 7px;
  padding: 10px 40px 10px 25px;
  z-index: 10;
  cursor: pointer;
  transition: $trans;

  &.open {
    margin-right: 75px;
  }
}

.icon {
  font-size: 2.5rem;
  cursor: pointer;
  justify-self: center;
}

.animate {
  animation: light 10s infinite;
}

@keyframes light {
  0% {
    box-shadow: 0 0 1px 0 $text-color;
    right: -95px;
  }
  45% {
    box-shadow: 0 0 1px 0 $text-color;
    right: -95px;
  }
  50% {
    right: -85px;
    box-shadow: 0 0 3px 1px $text-color;
  }
  55% {
    box-shadow: 0 0 1px 0 $text-color;
    right: -95px;
  }
  100% {
    box-shadow: 0 0 1px 0 $text-color;
    right: -95px;
  }
}
