@import "../styles/vars";

.swapper {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  left: -85px;
  bottom: 50%;
  border: 1px solid rgba(#000, .5);
  box-shadow: 0 0 3px 0 $text-color;
  background-color: $bg-med;
  border-radius: 7px;
  padding: 10px 15px 10px 40px;
  z-index: 10;
  cursor: pointer;
  transition: $trans;

  &.open {
    left: -25px
  }
}

.icon {
  font-size: 2.5rem;
  cursor: pointer;
  justify-self: center;
}

.animate {
  animation: light 10s infinite;
}

@keyframes light {
  0% {
    box-shadow: 0 0 3px 0 $text-color;
  }
  45% {
    box-shadow: 0 0 3px 0 $text-color;
  }
  50% {
    box-shadow: 0 0 12px 2px $text-color;
  }
  60% {
    box-shadow: 0 0 3px 0 $text-color;
  }
  100% {
    box-shadow: 0 0 3px 0 $text-color;
  }
}
